.calendar {
  font-size: 12px;
  color: #212121;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  background-color: white;
}

.calendar-table,
.calendar-header {
  width: 100%;
}

.calendar-table-head .calendar-cell {
  color: #9e9e9e;
  font-weight: normal;
}

.calendar-cell {
  padding: 2px;
  width: 32px;
  height: 32px;
}

.calendar-cell-link {
  color: #e0e0e0;
  text-decoration: none;
  width: 14px;
  height: 14px;
  display: inline-block;
  line-height: 14px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  background-color: white;
}

.calendar-cell.invalid .calendar-cell-link {
  visibility: hidden;
}

.calendar-cell.active .calendar-cell-link {
  color: #212121;
}

.calendar-cell.active .calendar-cell-link:hover {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #009688;
  color: white;
}

.calendar-cell.today .calendar-cell-link {
  color: #26a69a;
}

.calendar-body {
  padding: 20px 12px;
  min-height: 300px;
}

.calendar-table-wrapper {
  position: relative;
  overflow: hidden;
  height: 270px;
}

.calendar-table {
  text-align: center;
}

.calendar-header {
  text-align: center;
  overflow: hidden;
  background-color: #009688;
}

.calendar-control-list {
  list-style-type: none;
  padding: 0;
  position: relative;
  margin: 0;
  text-align: center;
  margin: 0 0 14px 0;
  font-weight: bold;
  height: 16px;
}

.calendar-control-title {
  line-height: 16px;
  font-size: 14px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.calendar-control.disabled {
  visibility: hidden;
}

.calendar-control {
  margin: 0 20px;
  position: absolute;
  top: 0;
}

.calendar-control.prev,
.calendar-control.next {
  cursor: pointer;
}

.calendar-control.prev {
  left: 0;
}

.calendar-control.next {
  right: 0;
}

.calendar-control.prev:before,
.calendar-control.next:before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: #757575;
  display: inline-block;
  transition: all 0.1s ease-in-out;
  content: " ";
  width: 6px;
  height: 6px;
}

.calendar-control.prev:hover:before,
.calendar-control.next:hover:before {
  border-color: #009688;
}

.calendar-control.prev:before {
  transform: rotate(225deg);
}

.calendar-control.next:before {
  transform: rotate(45deg);
}

.calendar-header-date {
  color: white;
  margin: 0;
  font-weight: normal;
  text-align: left;
  padding: 20px;
}

.calendar-header-title {
  font-size: 18px;
  color: white;
  font-weight: normal;
  text-align: left;
  padding: 0 20px 20px 20px;
  margin: 0;
}

.calendar-header .day,
.calendar-header .date {
  display: inline-block;
  font-size: 34px;
  line-height: 42px;
  margin-right: 8px;
}

.calendar-header .year {
  font-size: 16px;
  font-weight: normal;
  display: block;
  color: #b2dfdb;
}

@media (min-width: 600px) {
  .calendar {
    max-width: 600px;
    height: 380px;
    font-size: 14px;
  }

  .calendar-cell {
    padding: 2px 6px;
  }

  .calendar-wrapper {
    overflow: hidden;
    height: 100%;
  }

  .calendar-table-wrapper {
    height: 300px;
  }

  .calendar-body {
    padding: 20px;
  }

  .calendar-header,
  .calendar-body {
    float: left;
  }

  .calendar-header {
    width: 200px;
    height: 100%;
    position: relative;
  }

  .calendar-header .day,
  .calendar-header .date {
    display: block;
  }

  .calendar-header .title {
    font-size: 40px;
    word-spacing: 28px;
    line-height: 50px;
  }

  .calendar-header-title {
    bottom: 0;
    position: absolute;
  }

  .calendar-cell {
    width: 36px;
    height: 36px;
  }

  .calendar-cell-link {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }

  .calendar-cell.active .calendar-cell-link:hover {
    width: 34px;
    height: 34px;
    line-height: 34px;
    background-color: #009688;
    color: white;
  }


  .calendar-control-title {
    line-height: 20px;
    font-size: 16px;
    position: relative;
  }

  .calendar-control.prev:before,
  .calendar-control.next:before {
    border-width: 3px 3px 0 0;
    width: 7px;
    height: 7px;
  }

  .calendar-header .day,
  .calendar-header .date {
    font-size: 38px;
    line-height: 48px;
  }

  .calendar-header .year {
    font-size: 18px;
  }

  .calendar-header-title {
    font-size: 20px;
  }
}

.fade-slide-down-enter,
.fade-slide-right-enter {
  opacity: 0;
  transition: all 0.1s ease-out;
}

.fade-slide-right-enter {
  transform: translate(-50px, 0);
  position: absolute;
}

.fade-slide-down-enter {
  transform: translate(-50px, 0);
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.fade-slide-down-enter.fade-slide-down-enter-active,
.fade-slide-right-enter.fade-slide-right-enter-active {
  opacity: 1;
  transform: translate(0, 0px);
}

.fade-slide-down-leave,
.fade-slide-right-leave {
  opacity: 1;
  transition: all 0.1s ease-out;
  transform: translate(0, 0px);
}

.fade-slide-down-leave {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.fade-slide-down-leave.fade-slide-down-leave-active,
.fade-slide-right-leave.fade-slide-right-leave-active {
  opacity: 0;
}

.fade-slide-right-leave.fade-slide-right-leave-active {
  transform: translate(100px, 0);
}

.fade-slide-down-leave.fade-slide-down-leave-active {
  transform: translate(30px, 0);
}
